%header.page-header
  %h1 Flickr photo search
    
= form_tag search_photos_path, method: 'get', class: 'form-inline' do
  .form-group
    = label_tag :q, 'Search for photos', class: 'sr-only'
    = text_field_tag :q, params[:q], placeholder: 'Search for photos', class: 'form-control'
  = submit_tag 'Search', class: 'btn btn-primary'
    
= render partial: 'search_results' if @photos